@using HomeWork.ViewModel
@model StudentViewModel

<h1>@Model.ClassName</h1>
<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input value="@Model.keyWord" type="text" class="form-control" name="keyWord" placeholder="Enter student's name or studentId">
        
    </div>
    <button type="submit" class="btn btn-primary m-2">Search</button>
    <a asp-action="Insert" class="btn btn-success">Insert</a>
</form>
<table class="table table-bordered table-hover">
    <tr class="table-hover">
        <th>Id</th>
        <th>StudentId</th>
        <th>Name</th>
        <th>Birthdate</th>
        <th>Gender</th>
        <th>ClassroomId</th>
        <th>Action</th>
    </tr>
    @if (Model.students != null)
    {
        var index = 0;
        foreach (var student in Model.students)
        {
            <tr>
                <td>@(++index)</td>
                <td>@student.StudentId</td>
                <td>@student.Name</td>
                <td>@student.BirthDate</td>
                <td>@student.Gender</td>
                <td>@student.ClassroomId</td>
                <td>
                    <a asp-action="Update" asp-route-id="@student.Id" class="btn btn-primary">Update</a>
                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete_@student.Id">Delete</button>

                    <div class="modal fade" id="delete_@student.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Caution!</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Do you want to delete @student.Name?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <a asp-action="Delete" asp-route-id="@student.Id" class="btn btn-primary">Yes</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="4">No data</td>
        </tr>
    }
</table>